
#features .title_text{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

#features .title_text p{
    font-size: 30px;
    margin: auto;
    color: #009688;
    font-weight: bold ;
    z-index: 1;
    position: relative;
    display: inline-block;
}

.title_text h1{
    font-size: 40px;
    font-weight: 300;
}

#features .title_text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#07ac98, #fff);
    position: absolute;
    top: -20px;
    right :0;
    left: 0;
    z-index: -1;
    transform: rotate(4deg);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;

}

.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

.features{
    flex-basis: 50%;

}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
    padding-top: 16px;
    padding-bottom: 6px;

}

.feature-img{
    flex-basis: 50%;
    margin: auto;

}

.feature-img img {
    width: 95%;
    border-radius: 10px;


}

.features desc{
    align-items: center;
    margin-bottom: 40px;
    display: flex;

}


.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
    text-align: center;

}

.feature-text p{
    padding: 0 10px 0 10px;
    text-align: initial;
    margin: -60px 0px 0px 50px;

}

@media screen and (max: width 770px){
    .title_text h1{
        font-size: 35px;
        font-weight: 300;
    }
    .features{
        flex-basis: 100%;
    }
    .feature-img{
        flex-basis: 100%;
    }
    .feature-img img{
        width: 100%;
    }
}