.title_text{
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.title_text p{
  font-size: 30px;
  margin: auto;
  color: #009688;
  font-weight: bold ;
  z-index: 1;
  position: relative;
  display: inline-block;
}
.title_text p::after{
  content: '';
  width: 45px;
  height: 35px;
  background: linear-gradient(#07ac98, #fff);
  position: absolute;
  top: -20px;
  right :0;
  left: 215;
  z-index: -1;
  transform: rotate(4deg);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;

}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width:50%;
  padding: 5px;
  padding-bottom: 50px;
}
.row{
  padding-top: 50px;
  padding-bottom: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}
.overlay {
    position: absolute;
    bottom: 100;
    top:0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
  }
  .container2 {
    position: relative;
    width: 535px;
    margin-left: 7%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    transition: transform .5s; /* Animation */
  }
  .container2:hover{
    transform: scale(1.05);
  }
  #image1:hover .overlay, #image2:hover .overlay , #image3:hover .overlay , #image4:hover .overlay{
    bottom:100%;
    background-color:rgba(0, 0, 0, 0.7);
    fill-opacity: 1;
    top:0;
    height: 85%;
    transition:all .5s ease .1s
  }

.text1 {
    white-space: nowrap; 
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top:51%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-60%, -50%);
}

.text {
    text-align: center;
    padding: 5px 20px;
    font-size: 20px;
  }
 .Parkbutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: 195px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 4px;
  margin-left: 20%;
  cursor: pointer;
  background-color: #4CAF50;
  font-family:'Helvetica Neue';
  }
  .Parkbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s ease ;
  }
  
  .Parkbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .Parkbutton:hover span {
    padding-right: 25px;
  }
  
  .Parkbutton:hover span:after {
    opacity: 1;
    right: 0;
  }
 