body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 650px;
    padding: 25px;
    border: 3px solid #a7a6a6;
    background-color: rgb(255, 255, 255) !important;

}


.padding-bottom-3x {
    padding-bottom: 72px !important
}

.card-body {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(255, 255, 255);
    width: auto;
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-bottom: 20px;
}

.card-footer {
    height: auto;
    width: auto;
    color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
    border-top: 3px solid #a7a7a7;
    align-content: center;
}

.btn-newpwd{
    font-size: 18px;
    padding :8px;
    margin-left: 15%;
    background-color: #4CAF50;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.btn-login{
    font-size: 18px;
    padding :8px;
    margin-left: 10%;
    background-color: rgb(192, 7, 7);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

p{
    color: rgb(0, 0, 0);
}

p1{
    padding-top: 5px;
    text-align: center;
    color: rgb(0, 0, 0);

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745
}

     


.title_text{
    text-align: center;
    padding-bottom: 70px;
}

.title_text p{
    font-size: 30px;
    margin: auto;
    color: #009688;
    font-weight: bold ;
    z-index: 1;
    position: relative;
    display: inline-block;

}

.title_text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    right :0;
    left: 0;
    z-index: -1;
    transform: rotate(4deg);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;

    
}

.title_text h1{
    font-size: 50px;
}

     
     
#footer{
    padding: 40px 0 20px;
    background: #efefef;

}

.footer_row{
    width:80%;
    margin: 0 auto;
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_left, .footer_right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer_right{
    text-align: right;
}

.footer_row h1{
    margin: 10px 0;
}

.footer_row p{
    line-height: 35px;
}

.footer_left .fas, .footer_right .fas{
    font-size: 20px;
    margin: 10px;
    color: #009688;

}

.Social_links{
    text-align: center;
}


.Social_links .fab{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    border: 2px solid #009688;
    cursor: pointer;
    margin: 40px 5px 0;
    color: #009688;
    transition: 0.5s;

}
.Social_links .fab:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);

}
