body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: Poppins, sans-serif;
    }

#S_Banner{
        background: linear-gradient(rgba(255, 255, 255, -0.1),#323636), url("../Resources/Image-3.jpg");
        background-size: cover;
        background-position: center;
        height: 120vh;
    }

.container{
    height: 100%;
    align-content: center;
    }
        
.card{
    height: 500px; 
    margin-top: 200px;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.76) !important;

    }

.card h3{
    font-family: 'Kaushan Script', cursive;
}

.social_icon span{
    font-size: 50px;
    margin-left: 10px;
    color: #ffc012;
    }
            
.social_icon span:hover{
    color: white;
    cursor: pointer;
    }
            
.card-header h3{
    color: white;
    font-size: 40px;

    }
            
.social_icon{
    position: absolute;
    right: 20px;
    top: -43px;
    }
            
.input-group-prepend span{
    width: 40px;
    background-color: #ffc012;
    color: black;
    border:0 !important;
    }
            
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    }
            
.remember{
    color: white;
    font-size: 20px;
    }
            
.remember input{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 5px;
    }
            
.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;

    }
            
.login_btn:hover{
    color: black;
    background-color: white;
    }
            
.links{
    color: white;
    }
            
.links a{
    margin-left: 4px;
    }

#contents input{
    height: 40px;
    font-size: 20px;
}

.card-footer{
    font-size: 22px;
    margin-top: 60px;
}


#span{
    position: absolute;
    right:0px;
    margin-right: 30px;
    color: white;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#009688;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    text-align: center;
    margin:auto;
  }
  
  .overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;

  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 60px;
  }
  
#logo{
    position: absolute;
    top: 4%;
    left:6%;
}

     
#footer{
    width: 100%;
    padding: 100px 20px;
    background: #D3D3D3;

}

.title_text{
    text-align: center;
    padding-bottom: 70px;
}

.title_text p{
    font-size: 30px;
    margin: auto;
    color: #009688;
    font-weight: bold ;
    z-index: 1;
    position: relative;
    display: inline-block;

}

.title_text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    right :0;
    left: 0;
    z-index: -1;
    transform: rotate(4deg);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;

    
}

.title_text h1{
    font-size: 50px;
}
    

     
#footer{
    padding: 40px 0 20px;
    background: #efefef;

}

.footer_row{
    width:80%;
    margin: 0 auto;
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_left, .footer_right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer_right{
    text-align: right;
}

.footer_row h1{
    margin: 10px 0;
}

.footer_row p{
    line-height: 35px;
}

.footer_left .fas, .footer_right .fas{
    font-size: 20px;
    margin: 10px;
    color: #009688;

}

.Social_links{
    text-align: center;
}


.Social_links .fab{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    border: 2px solid #009688;
    cursor: pointer;
    margin: 40px 5px 0;
    color: #009688;
    transition: 0.5s;

}
.Social_links .fab:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);

}
     

