body {
  margin: 0;
  font-family: "Lucida Grande";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}


header {
  height: 120px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  margin: none;
  z-index: 10;
}

.logo {
  width: 140px;
  height: 130px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right a {
  line-height: 120px;
  padding: 0 25px;
  color: white;
  display: block;
}