*{
    font-family: 'Poppins', sans-serif;

}
#logo{
    position: absolute;
    top: 4%;
    left:5%;
}


#span{
    position: absolute;
    right:0px;
    margin-right: 30px;
}

h3{
  font-family: "Kaushan Script", cursive;

}

/*Navbar Section*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#009688;
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 20%;
    text-align: center;
    margin:auto;

}
  
.overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;

}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 60px;
}

/*Navbar Section Ends*/


/*Designing of the Registration Form*/
  

.section-title {
    border-bottom: 2px solid;
    border: turquoise;
    font-size: 28px;
    display: block;
    text-align: center;

  }
  .container1{
    width: 490px;
    text-align:  center;
    border-radius: 2px black;
    background-color: rgb(147, 255, 201);
    border: 10px solid #dee7ec;
    margin-bottom: 50px;
    margin-left: 500px;
  }
.container1 p{
  font-size: 20px;

}

select {
  width: 150px;
  margin: 10px;
}

input, textarea{
    width: 400px;
    margin-bottom : 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }

#mycheckbox{
  width: 13px;
  margin: 10px 5px 30px 0px;
}

#myradio{
  width: 13px;
  height: 13px;
  margin: 10px 5px 25px 0px;
}

.contact-submit{
    background-color:#dee7ec;
    color:black;
  }

  /*Designing of the form Ends*/


/*Designing of the Heading Texts*/

.title_text{
    text-align: center;
    padding-bottom: 70px;
}

.title_text p{
    font-size: 30px;
    margin: auto;
    color: #009688;
    font-weight: bold ;
    z-index: 1;
    position: relative;
    display: inline-block;

}

.title_text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    right :0;
    left: 0;
    z-index: -1;
    transform: rotate(4deg);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;

    
}

.title_text h1{
    font-size: 50px;
}

/*Designing of the Heading Text Ends*/

/*Designing of Footer Starts*/

#footer{
  padding: 40px 0 20px;
  background: #efefef;

}

.footer_row{
  width:80%;
  margin: 0 auto;
  display : flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_left, .footer_right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.footer_right{
  text-align: right;
}

.footer_row h1{
  margin: 10px 0;
}

.footer_row p{
  line-height: 35px;
}

.footer_left .fas, .footer_right .fas{
  font-size: 20px;
  margin: 10px;
  color: #009688;

}

.Social_links{
  text-align: center;
}


.Social_links .fab{
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  border: 2px solid #009688;
  cursor: pointer;
  margin: 40px 5px 0;
  color: #009688;
  transition: 0.5s;

}
.Social_links .fab:hover{
  background: #009688;
  color: #fff;
  transform: translateY(-7px);

}
/*Designing of Footer Starts*/

